<section class="body-font">
  <div
    class="container mx-auto flex px-5 items-center justify-center flex-col relative"
  >
    <img
      class="lg:w-full md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
      alt="hero"
      src="../../../assets/img/Frame 7.png"
    />
    <div
      class="text-center lg:w-2/3 w-full flex flex-col items-center absolute"
    >
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-semibold text-[#C6A267] overflow-hidden"
      >
        Contact Us
      </h1>
    </div>
    <div class="text-center lg:w-2/3 w-full flex flex-col items-center">
      <img
        class="img-rectangle"
        src="../../../../../../assets/img/Rectangle.png"
        alt=""
      />
    </div>
  </div>
  <div class="text-white body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap text-center">
        <div
          class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-[#CDA16C] border-opacity-60 relative"
        >
          <img
            src="../../../assets/img/flow.png"
            alt=""
            class="absolute w-3/5 -top-7 left-16"
          />
          <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">
            Email
          </h2>
          <p class="leading-relaxed text-base mb-4">
            plantculture.id&#64;gmail.com
          </p>
        </div>
        <div
          class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-[#CDA16C] border-opacity-60 relative"
        >
          <img
            src="../../../assets/img/flow.png"
            alt=""
            class="absolute w-3/5 -top-7 left-16"
          />
          <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">
            WhatsApp
          </h2>
          <p class="leading-relaxed text-base mb-4">0878-7752-9999</p>
        </div>
        <div
          class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-[#CDA16C] border-opacity-60 relative"
        >
          <img
            src="../../../assets/img/flow.png"
            alt=""
            class="absolute w-3/5 -top-7 left-16"
          />
          <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">
            Address
          </h2>
          <p class="leading-relaxed text-base mb-4">
            WOOD LAKE 5, No. 9-10, ALAM SUTERA, PINANG, TANGERANG, BANTEN
          </p>
        </div>
        <div
          class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-[#CDA16C] border-opacity-60 relative"
        >
          <img
            src="../../../assets/img/flow.png"
            alt=""
            class="absolute w-3/5 -top-7 left-16"
          />
          <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">
            Opening Hours
          </h2>
          <p class="leading-relaxed text-base mb-4">
            Weekdays: 10.00 AM - 08.00 PM <br />
            Weekend: 10.00 AM - 08.30 PM
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto flex px-5 items-center justify-center flex-col">
    <iframe
      class="w-full"
      height="450"
      frameborder="0"
      style="border: 0"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.8200441388665!2d106.64846121476624!3d-6.226803962105704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f152f2eaceb9%3A0x9bad6bd480eb18e6!2sPlant%20Culture!5e0!3m2!1sen!2sid!4v1642574813277!5m2!1sen!2sid"
      allowfullscreen=""
      loading="lazy"
    >
    </iframe>
  </div>
</section>
