<section
  class="min-h-screen flex max-sm:items-center max-sm:justify-center relative bg-[#F9F9F9]"
>
  <div
    class="container flex flex-col md:flex-row justify-center items-center px-6 md:px-0 pt-16 max-sm:pt-0"
  >
    <img
      src="../../../../../../assets/img/gambar 4.png"
      alt="foto"
      class="w-[40%] max-lg:w-[60%] z-10 max-sm:w-[100%]"
    />
    <div
      class="flex flex-col justify-center items-start md:ms-10 text-start w-full md:w-1/2 max-sm:mt-10"
    >
      <h2 class="text-3xl">Event & Catering</h2>
      <p class="text-base md:text-lg mt-5 leading-relaxed">
        Plant Culture juga menyediakan layanan catering dan venue VVIP untuk
        supporting event seperti meeting, seminar, wedding, birthday, hingga
        corporate gathering.
      </p>
      <button class="mt-10 bg-black text-white p-2 rounded-md">Booking</button>
    </div>
    <img
      src="../../../../../../assets/img/bunga 4.png"
      alt="bunga"
      class="absolute bottom-0 -right-40 z-0 w-[25%] max-lg:-right-20 max-lg:w-[35%] max-sm:w-[50%]"
    />
  </div>
</section>
