<section class="min-h-screen relative bg-[#F9F9F9]">
  <div
    class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
  >
    <img
      src="../../../../../../assets/img/gambar 4.png"
      alt="foto"
      class="w-[40%] z-10"
    />
    <div class="flex flex-col justify-start items-start">
      <h2 class="text-3xl ms-16">Event & Catering</h2>
      <p class="text-lg pe-14 ps-14 mt-7">
        Plant Culture juga menyediakan layanan catering dan venue VVIP untuk
        supporting event seperti meeting, seminar, wedding, birthday, hingga
        corporate gathering.
      </p>
      <button class="mt-10 bg-black text-white p-2 rounded-md ms-16">
        Booking
      </button>
    </div>
    <img
      src="../../../../../../assets/img/bunga 4.png"
      alt="bunga"
      class="absolute bottom-0 -right-40 z-0 w-[25%]"
    />
  </div>
</section>
