<section class="body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-6xl text-3xl mb-4 font-medium text-white">Our Expects Chef
        </h1>
        <p class="mb-8 leading-relaxed text-white">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
        <div class="flex justify-center gap-5">
          <button class="btn-menu">Menu</button>
          <button class="btn-book">Book Table</button>
        </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 relative">
        <img class="object-cover object-center rounded" alt="hero" src="../../../../../../assets/img/chef-1.png">
        <img src="../../../../../../assets/img/flow.png" alt="" class="absolute lg:block sm:hidden lg:top-20 lg:-z[1]">
      </div>
    </div>
  </section>