<section class="body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20 items-center">
      <img
        class="img-rectangle"
        src="../../../../../../assets/img/Rectangle.png"
        alt=""
      />
      <h1 class="sm:text-6xl text-3xl font-medium title-font mb-2 text-white">
        Our Special Dishes
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-[#CDA16C]">
        We present our exquisite collection of dishes that blend the traditional flavors of the archipelago with a unique modern twist. Each of our dishes is a carefully prepared work of culinary art, using the finest selected ingredients that reflect the richness of Indonesia's nature.

      </p>
    </div>
    <div class="flex flex-wrap -m-4 mt-40 lg:gap-0 sm:gap-32 xs:gap-11">  
      <div class="p-4 xl:w-1/4 md:w-1/2 w-full relative">
        <img
          src="../../../../../../assets/img/Plant Culture - CHP00591 1 (1).png"
          alt=""
          class="absolute lg:w-max lg:-top-24 lg:left-7 z-[1] sm:-top-20 sm:right-48 xs:w-2/4 xs:-top-10 xs:left-[5.5rem]"
        />
        <div
          class="h-full p-6 rounded-tl-3xl rounded-br-3xl border-2 border-gray-700 flex flex-col relative overflow-hidden"
        >
          <div class="mt-20 flex items-center flex-col gap-6">
            <p class="text-white text-xl">Betawinese Curry Soto</p>
            <p class="text-[#CDA16C]">
             Shirataki noodles, white mushrooms, fried cabbage, honje caviar.
            </p>
          </div>
        </div>
      </div>
      <div class="p-4 xl:w-1/4 md:w-1/2 w-full relative">
        <img
          src="../../../../../../assets/img/food1.png"
          alt=""
          class="absolute lg:w-max lg:-top-24 lg:left-14 z-[1] sm:-top-20 sm:right-48 xs:w-2/4 xs:-top-10 xs:left-[5.5rem]"
        />
        <div
          class="h-full p-6 rounded-tl-3xl rounded-br-3xl border-2 border-gray-700 flex flex-col relative overflow-hidden"
        >
          <div class="mt-20 flex items-center flex-col gap-6">
            <p class="text-white text-xl">Angel Hair Aglio Ogiio</p>
            <p class="text-[#CDA16C]">
              angel hair pasta, olive oil, champignon, tempeh, parmesan, tomato cherry.
            </p>
          </div>
        </div>
      </div>
      <div class="p-4 xl:w-1/4 md:w-1/2 w-full relative">
        <img
          src="../../../../../../assets/img/food2.png"
          alt=""
          class="absolute lg:w-max lg:-top-24 lg:left-14 z-[1] sm:-top-20 sm:right-48 xs:w-2/4 xs:-top-10 xs:left-[5.5rem]"
        />
        <div
          class="h-full p-6 rounded-tl-3xl rounded-br-3xl border-2 border-gray-700 flex flex-col relative overflow-hidden"
        >
          <div class="mt-20 flex items-center flex-col gap-6">
            <p class="text-white text-xl">Kulat Pelawan Mushroom Curry</p>
            <p class="text-[#CDA16C]">
              Pelawan toadstool is one of the mushrooms from the a of Bangka Belitung which is unique and special, in fact this toadstool is a fungus whose price is very fantastic.
            </p>
          </div>
        </div>
      </div>
      <div class="p-4 xl:w-1/4 md:w-1/2 w-full relative">
        <img
          src="../../../../../../assets/img/food3.png"
          alt=""
          class="absolute lg:w-max lg:-top-24 lg:left-14 z-[1] sm:-top-20 sm:right-48 xs:w-2/4 xs:-top-10 xs:left-[5.5rem]"
        />
        <div
          class="h-full p-6 rounded-tl-3xl rounded-br-3xl border-2 border-gray-700 flex flex-col relative overflow-hidden"
        >
          <div class="mt-20 flex items-center flex-col gap-6">
            <p class="text-white text-xl">Bruschetta</p>
            <p class="text-[#CDA16C]">
              This menu is inspired by Italian Bruschetta
Made from raw ingredients that are fried and topped with guacamole, sweet corn and granola
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
