<section
  class="bg-2 flex flex-col justify-center items-center min-h-screen bg-[#F9F9F9] relative"
>
  <div class="container flex justify-center items-center">
    <img
      class="w-[40%] z-10"
      src="../../../../../../assets/img/poto-suasana.png"
      alt="fotosuasana"
    />
    <div class="flex flex-col justify-center items-center ms-10">
      <h2 class="text-3xl">
        Nikmati Kuliner Nabati dengan Kelezatan Nusantara
      </h2>
      <p class="text-lg pe-14 ps-14 mt-7">
        Plant Culture adalah Restaurant yang mengusung konsep
        <span>Vegan/Plant Based</span> dengan sentuhan
        <span>Gastronomy Nusantara</span>. Menghidangkan masakan Nusantara (70%)
        sebagai highlight utama dan masakan Regional (30%) dengan berbagai ragam
        rempah-rempah, biji-bijian, kacang-kacangan, sayuran, dan buah-buahan.
        Dengan visi mengangkat budaya lokal dengan cara menyajikan makanan vegan
        (Nabati) yang enak, lezat, sehat, ramah lingkungan serta memberikan
        pengalaman kuliner yang mengesankan jiwa, raga, dan rasa.
      </p>
      <button class="mt-10 bg-black text-white p-2 rounded-md">
        Lihat Video
      </button>
    </div>
  </div>
  <img
    class="absolute -bottom-3 -left-32 w-[30%] z-0"
    src="../../../../../../assets/img/bunga 2.png"
    alt="bunga"
  />
</section>
