<section
  class="bg-[#F9F9F9] flex flex-col justify-center items-center min-h-screen relative"
>
  <div
    class="container flex flex-col md:flex-row justify-center items-center px-6 md:px-0"
  >
    <img
      class="w-full md:w-[40%] z-10 mb-6 md:mb-0"
      src="../../../../../../assets/img/poto-suasana.png"
      alt="fotosuasana"
    />
    <div
      class="flex flex-col justify-center items-start md:ms-10 text-start w-full md:w-1/2"
    >
      <h2 class="text-3xl md:text-3xl font-bold">
        Nikmati Kuliner Nabati dengan Kelezatan Nusantara
      </h2>
      <p class="text-base md:text-lg mt-5 leading-relaxed">
        Plant Culture adalah Restaurant yang mengusung konsep
        <span class="font-semibold">Vegan/Plant Based</span> dengan sentuhan
        <span class="font-semibold">Gastronomy Nusantara</span>. Menghidangkan
        masakan Nusantara (70%) sebagai highlight utama dan masakan Regional
        (30%) dengan berbagai ragam rempah-rempah, biji-bijian, kacang-kacangan,
        sayuran, dan buah-buahan. Dengan visi mengangkat budaya lokal dengan
        cara menyajikan makanan vegan (Nabati) yang enak, lezat, sehat, ramah
        lingkungan serta memberikan pengalaman kuliner yang mengesankan jiwa,
        raga, dan rasa.
      </p>
      <button class="mt-6 md:mt-10 bg-black text-white py-2 px-4 rounded-md">
        Lihat Video
      </button>
    </div>
  </div>
  <img
    class="absolute -bottom-3 -left-32 w-[30%] z-0"
    src="../../../../../../assets/img/bunga 2.png"
    alt="bunga"
  />
</section>
