<section class="body-font">
  <div
    class="container mx-auto flex px-5 pb-24 items-center justify-center flex-col"
  >
    <img
      class="lg:w-full md:w-3/6 w-5/6 mb-10 object-cover object-center rounded"
      alt="hero"
      src="../../../assets/img/picture.png"
    />
    <div class="text-center lg:w-2/3 w-full flex flex-col items-center">
      <img
        class="img-rectangle"
        src="../../../../../../assets/img/Rectangle.png"
        alt=""
      />
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white font-Bli">
        Price for VIP Packges
      </h1>
      <p class="leading-relaxed mb-8 text-white">
        The menu page at Plant Culture showcases the diverse array of plant-based dishes available to patrons. 
        Each item on the menu is thoughtfully crafted to highlight the natural flavors and textures of plant-based ingredients. 
        From appetizers to entrees and desserts, the menu offers a variety of options to suit different tastes and dietary preferences. 
        Whether you're craving a refreshing salad, a hearty vegan burger, or a decadent dessert, 
        the menu at Plant Culture invites guests to explore the delicious possibilities of plant-based cuisine while supporting a sustainable and compassionate dining experience.
      </p>
      <div class="flex flex-col gap-5">
        <img src="../../../assets/img/poster.png" alt="" />
        <img src="../../../assets/img/poster1.png" alt="" />
        <img src="../../../assets/img/Page 81.png" alt="" />
        <img src="../../../assets/img/Page 92.png" alt="" />
        <img src="../../../assets/img/Page 115.png" alt="" />
        <img src="../../../assets/img/Page 136.png" alt="" />
        <img src="../../../assets/img/Page 122.png" alt="" />
        
        <img src="../../../assets/img/Page 119.png" alt="" />
        <img src="../../../assets/img/Page 121.png" alt="" />
      </div>
      <p class="leading-relaxed mb-8 text-white mt-4">
        Thank you for exploring our menu filled with delicious and healthy options. 
        Visit our restaurant soon or contact us for online orders. 
        Enjoy the refreshing and beneficial vegetarian meals!
      </p>
      <a class="btn-book" href="/home/reservation">Book Table</a>
    </div>
  </div>
</section>
