<section
  class="min-h-screen flex max-sm:flex max-sm:items-center max-sm:justify-center bg-[#183028] relative"
>
  <div
    class="container flex flex-col md:flex-row justify-start max-sm:justify-center items-center px-6 md:px-0"
  >
    <div
      class="flex flex-col justify-center max-md:text-center text-start items-start max-sm:items-center max-sm:w-full md:w-1/2 md:pl-12"
    >
      <h2 class="max-sm:mt-16 text-3xl text-white">
        Makanan yang Sehat dan Lezat yang Memberi Kenangan
      </h2>
      <p class="text-base md:text-lg mt-7 leading-relaxed text-white">
        Nikmati citarasa masakan nusantara yang disajikan dengan plant-based
        bersama orang-orang tersayang.
      </p>
      <button
        class="mt-10 bg-white text-black p-2 rounded-md hover:bg-black hover:text-white"
      >
        Lihat Video
      </button>
    </div>
    <img
      src="../../../../../../assets/img/gambar 3.png"
      alt="gambar 3"
      class="w-[60%] max-lg:w-[70%] max-sm:w-[100%] max-lg:mt-[100%] max-sm:mt-[50%] mt-[30%] z-0"
    />
  </div>
</section>
