<section
  class="min-h-screen relative bg-white flex items-center justify-center"
>
  <div class="container mx-auto flex flex-col items-center justify-center">
    <div class="flex flex-col justify-start items-start">
      <h2 class="text-3xl mb-10">Event & Catering</h2>
    </div>
    <div class="flex justify-between items-center">
      <div class="flex flex-col justify-center items-center">
        <div class="w-64 h-[300px] bg-white shadow-lg">
          <img src="" alt="foto" class="w-[40%] z-10" />
        </div>
        <button class="mt-10 bg-black text-white p-2 rounded-md ms-16">
          Selengkapnya
        </button>
      </div>
      <div class="flex flex-col justify-center items-center ms-44">
        <div class="w-64 h-[300px] bg-white shadow-lg">
          <img src="" alt="foto" class="w-[40%] z-10" />
        </div>
        <button class="mt-10 bg-black text-white p-2 rounded-md ms-16">
          Selengkapnya
        </button>
      </div>
      <div class="flex flex-col justify-center items-center ms-44">
        <div class="w-64 h-[300px] bg-white shadow-lg">
          <img src="" alt="foto" class="w-[40%] z-10" />
        </div>
        <button class="mt-10 bg-black text-white p-2 rounded-md ms-16">
          Selengkapnya
        </button>
      </div>
    </div>
  </div>
</section>
