<section class="min-h-screen bg-white flex items-center justify-center px-4">
  <div class="container mx-auto flex flex-col items-center">
    <h2 class="text-3xl max-sm:mt-20 mb-10 font-bold text-center">
      Event & Catering
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
      <!-- Kartu 1 -->
      <div class="flex flex-col items-center">
        <div
          class="w-64 h-[300px] bg-white shadow-lg flex items-center justify-center"
        >
          <img src="" alt="foto" class="w-[40%]" />
        </div>
        <button
          class="mt-6 bg-black text-white px-4 py-2 rounded-md hover:bg-gray-800 transition"
        >
          Selengkapnya
        </button>
      </div>

      <!-- Kartu 2 -->
      <div class="flex flex-col items-center">
        <div
          class="w-64 h-[300px] bg-white shadow-lg flex items-center justify-center"
        >
          <img src="" alt="foto" class="w-[40%]" />
        </div>
        <button
          class="mt-6 bg-black text-white px-4 py-2 rounded-md hover:bg-gray-800 transition"
        >
          Selengkapnya
        </button>
      </div>

      <!-- Kartu 3 -->
      <div class="flex flex-col items-center">
        <div
          class="w-64 h-[300px] bg-white shadow-lg flex items-center justify-center"
        >
          <img src="" alt="foto" class="w-[40%]" />
        </div>
        <button
          class="mt-6 bg-black text-white px-4 py-2 rounded-md hover:bg-gray-800 transition max-sm:mb-10"
        >
          Selengkapnya
        </button>
      </div>
    </div>
  </div>
</section>
