<footer class="body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap md:text-left text-center order-first justify-between xs:gap-8">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4 sm:mb-4">
        <img src="../../../../assets/img/PLANT CULTURE-LOGO-03.png" alt=""
          class="sm:ml-auto sm:mr-auto lg:mx-0 xs:m-auto" />
        <a class="text-footer" href="/home/contact" >
          WOOD LAKE 5, No. 9-10, ALAM SUTERA, PINANG, TANGERANG, BANTEN
        </a>
      </div>

      <div class="lg:w-1/6 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">
          NAVIGATION
        </h2>
        <nav class="list-none mb-10 flex flex-col gap-4">
          <li>
            <a class="text-footer" href="/home/menu">Menu</a>
          </li>
          <li>
            <a class="text-footer" href="/home/about">About Us</a>
          </li>
          <li>
            <a class="text-footer" href="/home/contact">Contact Us</a>
          </li>
          <li>
            <a class="text-footer">Main Dishes</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/6 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">
          DISHES
        </h2>
        <nav class="list-none mb-10 flex flex-col gap-4">
          <li>
            <a class="text-footer" href="/home/menu">Fish & Veggies</a>
          </li>
          <li>
            <a class="text-footer" href="/home/menu">Tofu Chill</a>
          </li>
          <li>
            <a class="text-footer" href="/home/menu">Egg & Cocumber</a>
          </li>
          <li>
            <a class="text-footer" href="/home/menu">Lumpia w/Sauce</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/3 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">
          FOLLOW US
        </h2>
        <div
          class="flex xl:flex-nowrap md:flex-nowrap lg:flex-wrap flex flex-wrap justify-center items-end md:justify-start xs:gap-6">
          <div class="relative w-40 sm:w-auto xl:mr-4 lg:mr-0 sm:mr-4 mr-2 flex flex-row">
            <div class="rounded-full border w-12 h-12 text-[#F8F8F8] flex justify-center items-center mr-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-youtube w-8 h-8"
                viewBox="0 0 16 16">
                <path
                  d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z" />
              </svg>
            </div>
            <div class="rounded-full border w-12 h-12 text-[#F8F8F8] flex justify-center items-center mr-2">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-8 h-8" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </div>
            <div class="rounded-full border w-12 h-12 text-[#F8F8F8] flex justify-center items-center">
              <svg fill="#F8F8F8" class="w-8 h-8" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve">
                <path
                  d="M19.589 6.686a4.793 4.793 0 0 1-3.77-4.245V2h-3.445v13.672a2.896 2.896 0 0 1-5.201 1.743l-.002-.001.002.001a2.895 2.895 0 0 1 3.183-4.51v-3.5a6.329 6.329 0 0 0-5.394 10.692 6.33 6.33 0 0 0 10.857-4.424V8.687a8.182 8.182 0 0 0 4.773 1.526V6.79a4.831 4.831 0 0 1-1.003-.104z" />
              </svg>
            </div>
          </div>
        </div>
        <div
          class="flex xl:flex-nowrap justify-center items-center md:flex-nowrap lg:flex-wrap flex flex-wrap justify-center items-end md:justify-start xs:gap-6 border border-[#C59D68] w-36 ml-2 mt-2 justify-center items-center">
        </div>
      </div>
    </div>
    <div class="px-5 pb-5">
      <h2 class="title-font font-medium text-white tracking-widest text-sm">
        OPENING HOURS
      </h2>
    </div>
    <div class="container px-5 flex flex-row">
      <div class="text-[#CDA16C] pr-5">
        <p>Monday - Saturday </p>
        <p>8:00 am to 9:00 pm</p>
      </div>
      <div class="text-[#CDA16C] px-5">
        <p>Sunday</p>
        <p>9:00 am to 10:00 pm</p>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container px-5 py-6 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
        <img src="../../../../assets/img/plant-culture.png" alt="" class="logo-img-header" />
      </a>
      <p class="text-sm text-gray-400 sm:ml-6 sm:mt-0 mt-4">
        © 2024 PlantCulture —
        <a href="https://twitter.com/knyttneve" class="text-gray-500 ml-1" target="_blank"
          rel="noopener noreferrer">PC</a>
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <p class="text-[#CDA16C]">Terms of Service</p>
        <p class="text-[#CDA16C] ml-6 mr-6">Privacy Policy</p>

      </span>
    </div>
  </div>
</footer>