<section
  class="hero-body min-h-screen flex flex-col justify-center items-center"
>
  <div
    class="container bg-white bg-opacity-50 w-[50%] max-sm:w-full max-lg:w-[70%] flex flex-col justify-center items-center p-2 md:p-12"
  >
    <h2 class="text-black mt-10 text-3xl">Discover Plant Culture</h2>
    <p
      class="text-black mt-5 text-xl max-lg:me-8 max-lg:ms-8 me-16 ms-16 text-center"
    >
      Restoran yang mengusung konsep Vegan/Plant Based dengan sentuhan
      Gastronomy Nusantara
    </p>
    <button
      class="bg-[#183028] text-white p-2 mt-10 rounded-md mb-10 text-lg hover:border-[#183028] hover:border-2 hover:text-black hover:bg-transparent"
    >
      Reservasi
    </button>
  </div>
</section>
