<div class="flex flex-wrap p-4 bg-white bg-opacity-50">
  <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
    <div class="bg-white radiusCard p-4">
      <div class="h-full text-center">
        <img alt="testimonial"
          class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-800 bg-gray-800 bg-opacity-10"
          src="../../../../../../assets/img/Cust1.jpg">
        <h2 class="leading-relaxed text-gray-600">ok banget sih karena susah banget nyari 
          semi fine dinging gitu buat vegan, dan untuk rasanya 
          sangat cocok untuk lidah ornag indonesia apalagi estetika dari makanan nya 
          juga dapet khas-khas indonesia nya kaya kesan nya di kraton gitu dan rasanya enak banget.</h2>
        <div class="flex justify-center mt-6">
          <span class="text-yellow-400">&#9733;</span> <!-- 1st star -->
          <span class="text-yellow-400">&#9733;</span> <!-- 2nd star -->
          <span class="text-yellow-400">&#9733;</span> <!-- 3rd star -->
          <span class="text-yellow-400">&#9733;</span> <!-- 4th star -->
          <span class="text-yellow-400">&#9733;</span> <!-- 5th star -->
        </div>
        <h2 class="text-gray-600 font-medium title-font tracking-wider text-sm">James & Jeseline</h2>
        <p class="text-gray-600">Senior Product Designer</p>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Watch Video</button>
      </div>
    </div>
  </div>
  <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
    <div class="bg-white radiusCard p-4">
      <div class="h-full text-center">
        <img alt="testimonial"
          class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-800 bg-gray-800 bg-opacity-10"
          src="../../../../../../assets/img/cust2.jpg">
        <h2 class="leading-relaxed text-gray-600">setelah saya mencoba beberapa menu dan juga minuman 
          rasa nya luar biasa enak sekali ya, bumbu nya pas dan mengangkat sekali 
          rasa rempah-rempah indonesia kemudian banyak sekali terasa keragaman produk lokal di setiap masakan nya.</h2>
        <div class="flex justify-center mt-6">
          <span class="text-yellow-400">&#9733;</span> <!-- 1st star -->
          <span class="text-yellow-400">&#9733;</span> <!-- 2nd star -->
          <span class="text-yellow-400">&#9733;</span> <!-- 3rd star -->
          <span class="text-yellow-400">&#9733;</span> <!-- 4th star -->
          <span class="text-yellow-400">&#9733;</span> <!-- 5th star -->
        </div>
        <h2 class="text-gray-600 font-medium title-font tracking-wider text-sm">Erwinta Dianti</h2>
        <p class="text-gray-600">Senior Product Designer</p>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Watch Video</button>
      </div>
    </div>
  </div>
  <div class="lg:w-1/3 lg:mb-0 mb-6 p-4 ">
    <div class="bg-white radiusCard p-4">
      <div class="h-full text-center">
        <img alt="testimonial"
          class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-800 bg-gray-800 bg-opacity-10"
          src="../../../../../../assets/img/cust3.jpg">
        <h2 class="leading-relaxed text-gray-600">
          jujur ini adalah experiance fine dining untuk vegan pertama jadi 
          saya impresed sekali dengan plant culture, untuk estetika 
          dari makanan nya sagat bagus dan kalau di lihat itu ga keliatan seperti makanan vegetarian 
          terlebih lagi rasanya enak sekali sangat recomanded.</h2>
        <div class="flex justify-center mt-6">
          <span class="text-yellow-400">&#9733;</span> <!-- 1st star -->
          <span class="text-yellow-400">&#9733;</span> <!-- 2nd star -->
          <span class="text-yellow-400">&#9733;</span> <!-- 3rd star -->
          <span class="text-yellow-400">&#9733;</span> <!-- 4th star -->
          <span class="text-yellow-400">&#9733;</span> <!-- 5th star -->
        </div>
        <h2 class="text-gray-600 font-medium title-font tracking-wider text-sm">Peter & Marsha</h2>
        <p class="text-gray-600">Senior Product Designer</p>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Watch Video</button>
      </div>
    </div>
  </div>
</div>
