<section class="relative min-h-screen bg-[#183028]">
  <div class="container flex items-center px-5 py-24 mx-auto">
    <img
      src="../../../../../../assets/img/gambar 5.png"
      alt="gambar"
      class="w-[40%] z-10"
    />
    <div class="flex flex-col justify-start items-start">
      <h2 class="text-3xl ms-16 text-white">Konsep dan Lokasi Kami</h2>
      <p class="text-lg pe-14 ps-14 mt-7 text-white">
        Plant Culture mengusung konsep tumpang sari dalam bangunannya serta
        lokasi ynag hijau berada di kawasan danau di Alam Sutera, Tangerang.
      </p>
      <button class="mt-10 bg-white text-black p-2 rounded-md ms-16">
        Lihat Outlet
      </button>
    </div>
    <img
      src="../../../../../../assets/img/bunga 5.png"
      alt="bunga"
      class="absolute bottom-0 right-0 z-0 w-[25%]"
    />
  </div>
</section>
