<section
  class="relative flex justify-center items-center min-h-screen bg-[#183028]"
>
  <div
    class="container flex flex-col md:flex-row justify-center items-center px-6 md:px-0"
  >
    <img
      src="../../../../../../assets/img/gambar 5.png"
      alt="gambar"
      class="w-[40%] z-10 max-sm:w-[100%]"
    />
    <div
      class="flex flex-col justify-center items-start md:ms-10 text-start w-full md:w-1/2"
    >
      <h2 class="max-sm:mt-10 text-3xl text-white">Konsep dan Lokasi Kami</h2>
      <p class="text-base md:text-lg mt-5 leading-relaxed text-white">
        Plant Culture mengusung konsep tumpang sari dalam bangunannya serta
        lokasi ynag hijau berada di kawasan danau di Alam Sutera, Tangerang.
      </p>
      <button class="mt-10 bg-white text-black p-2 rounded-md">
        Lihat Outlet
      </button>
    </div>
    <img
      src="../../../../../../assets/img/bunga 5.png"
      alt="bunga"
      class="absolute bottom-0 right-0 z-0 w-[25%] max-sm:w-[40%]"
    />
  </div>
</section>
