p {
    @apply text-white
}
<<<<<<< Updated upstream
body{
    background-image: url(../../../../../../assets/img/background.png);
}
.radiusCard{
    border-radius: 15% 7% 15% 7%;
<<<<<<< HEAD
=======
.themeTes{
    background-image: url(../../../../../../assets/img/background.png);

>>>>>>> Stashed changes
=======
>>>>>>> 3db7e4a7d597edaed5945324bd4711b5de8e5c01
}