<header class="wadah">
  <div
    class="w-full px-5 md:container md:mx-auto flex pb-5 pt-5 items-center justify-between"
  >
    <a class="cursor-pointer" routerLink="/home/dashboard">
      <img
        src="../../../../assets/img/logo-pc.png"
        alt=""
        class="w-24 md:w-32 object-contain"
      />
    </a>

    <nav
      class="navigation max-md:hidden visible flex flex-wrap items-center text-base justify-center overflow-hidden"
    >
      <a
        class="mr-5 cursor-pointer"
        [className]="routerLink === 'dashboard' ? 'navigation-on' : ''"
        routerLink="/home/dashboard"
        >Beranda</a
      >
      <a
        class="mr-5 cursor-pointer"
        [className]="routerLink === 'about' ? 'navigation-on' : ''"
        routerLink="/home/about"
        >Tentang Plant Culture</a
      >
      <a
        class="mr-5 cursor-pointer"
        [className]="routerLink === '#' ? 'navigation-on' : ''"
        routerLink="/home/#"
        >Menu</a
      >
      <a
        class="mr-5 cursor-pointer"
        [className]="routerLink === 'contact' ? 'navigation-on' : ''"
        routerLink="/home/contact"
        >Lokasi</a
      >
      <a
        class="mr-5 cursor-pointer"
        [className]="routerLink === '#' ? 'navigation-on' : ''"
        routerLink="/home/#"
        >Berita & Promo</a
      >
    </nav>

    <!-- Hamburger -->
    <div
      class="md:hidden ml-[40%] flex flex-col items-center space-y-1 cursor-pointer z-50"
      (click)="toggleMenu()"
      id="hamburger"
    >
      <div class="bg-white w-7 h-1 rounded-sm"></div>
      <div class="bg-white w-7 h-1 rounded-sm"></div>
      <div class="bg-white w-7 h-1 rounded-sm"></div>
    </div>

    <!-- Mobile Navigation -->
    <app-sidebar-mobile [isMenuOpen]="isMenuOpen"></app-sidebar-mobile>
  </div>
</header>
